html,
body {
    padding: 0;
    margin: 0;
    background-color: grey;
    overflow: hidden;
    height: 100%;
    font-size: 25px;
    font-family: sans-serif;
}

.container {
    text-align: center;
    position: relative;
}

#canvas {
    height: 100%;
    width: auto;
}
